@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 1rem 0;
  background-color: #0a0a0b;
}

h1,
h2,
h3 {
  font-family: "Prata", sans-serif;
  font-weight: 100;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

p,
a {
  font-family: "Inter", sans-serif;
}
